<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Move list</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dataStyle.css') }}">
    </head>
    <body>
        <button onclick="history.back()">← Back</button>
        <h1>Moves made with {{ cardname }}</h1>
        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>Turn</th>
                    <th>Player</th>
                    <th>Card Played</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Ally Cards</th>
                    <th>Enemy Cards</th>
                    <th>Game</th>
                    <th>Move ID</th>
                </tr>
            </thead>
            <tbody>
                {% for move in moves %}
                <tr>
                    <td>{{ move.turn }}</td>
                    <td>{{ move.player }}</td>
                    <td>{{ move.card_played }}</td>
                    <td>{{ move.location.name }}</td>
                    <td>{{ move.location.position }}</td>
                    <td>{{ move.location.ally_cards }}</td>
                    <td>{{ move.location.enemy_cards }}</td>
                    <td ><a href="games/{{ move.game_id}}">{{ move.game_id}}</a></td>
                    <td>{{ move.move_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>