<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game list</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dataStyle.css') }}">
</head>
<body>
  <h1>Recorded games</h1>
  <button onclick="window.location.href='/data/games/export'">Export as csv</button>
  <table style="border: 1px solid black;">
    <tr>
      <th>Game ID</th>
      <th>Winner</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    {% for game in games %}
    <tr>
      <td><a href="games/{{version}}/{{ game['game_id']}}">{{ game['game_id'] }}</a></td>
      <td>{{ game.get('winner', 'N/A') }}</td>
      <td>{{ game.get('start_time', 'N/A') }}</td>
      <td>{{ game.get('end_time', 'N/A') }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>