<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Move list</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dataStyle.css') }}">
    </head>

    <body>
        <button onclick="history.back()">← Back</button>
        <h1>Game: {{ game.game_id }}</h1>
        <p>Winner: {{ game.winner }}</p>
        <p>Started at: {{ game.start_time }}</p>
        <p>Ended at: {{ game.end_time }}</p>
        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>Move ID</th>
                    <th>Turn</th>
                    <th>Player</th>
                    <th>Card Played</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Ally Cards</th>
                    <th>Enemy Cards</th>
                </tr>
            </thead>
            <tbody>
                {% for move in moves %}
                <tr>
                    <td>{{ move.move_id }}</td>
                    <td>{{ move.turn }}</td>
                    <td>{{ move.player }}</td>
                    <td> <a href="/data/{{ version }}/{{ move.card_played }}">{{ move.card_played }}</a></td>
                    <td>{{ move.location.name }}</td>
                    <td>{{ move.location.position }}</td>
                    <td>{{ move.location.ally_cards }}</td>
                    <td>{{ move.location.enemy_cards }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>