.hand-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}
.cardinlocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #aaa;
    padding: 8px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 4px;
    width: 120px;
}
.totalpower {
    text-align: center;
    margin-top: 6px;
    font-size: 20px;
}
.locationdescription {
    text-align: center;
    margin-top: 6px;
    font-size: 20px;
    font-weight: bold;
}
.cardinlocation.temp {
    background-color: aquamarine;
}
.card {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
}
.cardtext {
    text-align: center;
    margin-top: 6px;
    font-size: 14px;
}
.card img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.locationlist {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
.location {
    border: 2px solid #444;
    border-radius: 10px;
    padding: 10px;
    min-width: 300px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.location.winning {
    background-color: #d4ffd4;
  }
  
  .location.losing {
    background-color: #ffd4d4;
  }
  
  .location.tie {
    background-color: #f0f0f0;
  }
  .locationbutton {
    all: unset;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    border: none;
  }
.enemies, .allies {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
}