<!DOCTYPE html>
<html>
<head>
    <title>Player 1</title>
    <script>
        let hasPassed = false;
    
        function endTurn() {
            fetch('/game/ally/pass', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        hasPassed = true;
                        checkTurnStatus();
                    }
                });
        }
    
        function checkTurnStatus() {
            if (!hasPassed) return;
    
            fetch('/check_turn/ally')
                .then(response => response.json())
                .then(data => {
                    if (data.winner !== "None") {
                        if (data.winner === "Ally") {
                            alert("You have won {{ status['cubes'] * 2 }} cubes!");
                        } else if (data.winner === "Enemy") {
                            alert("You have lost {{ status['cubes'] * 2 }} cubes!");
                        } else if (data.winner === "Tie") {
                            alert("Tie!");
                        }
                        location.reload();
                    } else if (!data.turnready) {
                        location.reload();
                    } else {
                        setTimeout(checkTurnStatus, 2000);
                    }
                });
        }
    </script>
<link rel="stylesheet" href="{{ url_for('static', filename='gameStyle.css') }}">
</head>
<body>
    <h1> Locations </h1>
    <h1> Turn:{{ status["turncounter"] if status["turncounter"] <= status["maxturns"] else "Game Over" }}   </h1>
    <div class="locationlist">
        {% for location in locations %}
        {% set location_num = loop.index0 + 1 %}
        <div class="location {{ 'winning' if location.winning == 'Ally' else 'losing' if location.winning == 'Enemy' else 'tie'}}">
        <h2>{{ location.name }}</h2>
    
        <!-- Sezione Nemici -->
        <div class="enemies">
            <h3>Enemies</h3>
            {% for enemy_card in location.enemies %}
            <div class="cardinlocation">
                    <img src="{{ enemy_card.render() }}" alt="{{ enemy_card.name }}" class="card img">
                    <p class="cardtext">{{ enemy_card.name }} - Power: {{ enemy_card.cur_power }}</p>
                    <p class = "cardtext"> {{ enemy_card.description }}</p>
            </div>
            {% endfor %}
        </div>
        <div> 
            <p class="totalpower"> Enemies Power: {{ location.enemiesPower }} <br> </p>
            <p class = "locationdescription">{{location.description}} <br> </p>
            <p class = "totalpower"> Allies Power: {{ location.alliesPower }}</p>
        </div>
        <!-- Sezione Alleati -->
            <div class="allies">
            <h3>Allies</h3>
            {% for ally_card in location.allies%}
                    <form action="/game/ally/movecard" method="post">
                        <input type="hidden" name="card" value="{{ loop.index0 }}">
                        <input type="hidden" name="location" value="{{ location_num }}">
                        <div class="cardinlocation">
                            <img src="{{ ally_card.render() }}" alt="{{ ally_card.name }}" class = "card img">
                            <p>{{ ally_card.name }} - Power: {{ ally_card.cur_power }}</p>
                            <p class = "cardtext"> {{ ally_card.description }}</p>
                        </div>
                    </form>
            {% endfor %}
            {% for ally_card in location.preRevealAllies %}
                <div class="cardinlocation temp">
                    <img src="{{ ally_card.render() }}" alt="{{ ally_card.name }}" class = "card img">
                    <p>{{ ally_card.name }} - Power: {{ ally_card.cur_power }}</p>
                    <p class = "cardtext"> {{ ally_card.description }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <h1>Your Cards</h1>
    <div class="hand-container">
        {% for card in status["allyhand"] %}
        <div class="card">
            <form action="/game/ally/playcard" method="post">
                <input type="hidden" name="index" value="{{ loop.index0 }}">
                <button type="submit">
                    <img src="{{ card.render() }}" alt="{{ card.name }}">
                </button>
                <p>{{card.name}}: {{card.cur_cost}}, Power: {{card.cur_power}}, Description: {{card.description}}</p>
            </form>
        </div>
        {% endfor %}
        <p>Energy: {{ status["allyenergy"] }}</p>
        <button onclick="endTurn()">End Turn</button>
        <form action="/game/ally/undoActions" method="post">
            <button type="submit">
                Undo Actions
            </button>
        </form>
        <form action="/game/ally/snap" method="post">
            <button type="submit">
                SNAP!
            </button>
        </form>
        <div>Current cubes: {{ status["cubes"] }}</div>
    </div>

</body>
</html>